.clock-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eceef0;
  overflow: hidden;
}
.clock-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 460px;
  height: 460px;
  border-width: 18px;
  border-color: transparent #d2d8df #d2d8df;
  border-style: solid;
  border-radius: 50%;
  background-clip: border-box;
  transform: rotate(-45deg);
}
.clock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  padding: 0;
  background-color: #262c33;
  border: 18px solid #373f4a;
  border-radius: 50%;
  background-clip: border-box;
  transform: rotate(45deg);
}
.minute-marks {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 0;
  height: 0px;
}
.minute-marks li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  width: 200;
  height: 0px;
}
.minute-marks li:before,
.minute-marks li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0px;
  display: inline-block;
  border-color: #d4d5d6;
  border-width: 4px;
  border-style: solid;
  opacity: 0.6;
  border-radius: 4px;
}
.minute-marks li:before {
  top: -380px;
}
.minute-marks li:after {
  bottom: -380px;
}
.minute-marks li.five:before,
.minute-marks li.five:after {
  width: 0;
  height: 20px;
}
.minute-marks li.five:before {
  top: -360px;
}
.minute-marks li.five:after {
  bottom: -360px;
}
.minute-marks li:nth-child(1) {
  transform: rotate(0deg);
}
.minute-marks li:nth-child(2) {
  transform: rotate(6deg);
}
.minute-marks li:nth-child(3) {
  transform: rotate(12deg);
}
.minute-marks li:nth-child(4) {
  transform: rotate(18deg);
}
.minute-marks li:nth-child(5) {
  transform: rotate(24deg);
}
.minute-marks li:nth-child(6) {
  transform: rotate(30deg);
}
.minute-marks li:nth-child(7) {
  transform: rotate(36deg);
}
.minute-marks li:nth-child(8) {
  transform: rotate(42deg);
}
.minute-marks li:nth-child(9) {
  transform: rotate(48deg);
}
.minute-marks li:nth-child(10) {
  transform: rotate(54deg);
}
.minute-marks li:nth-child(11) {
  transform: rotate(60deg);
}
.minute-marks li:nth-child(12) {
  transform: rotate(66deg);
}
.minute-marks li:nth-child(13) {
  transform: rotate(72deg);
}
.minute-marks li:nth-child(14) {
  transform: rotate(78deg);
}
.minute-marks li:nth-child(15) {
  transform: rotate(84deg);
}
.minute-marks li:nth-child(16) {
  transform: rotate(90deg);
}
.minute-marks li:nth-child(17) {
  transform: rotate(96deg);
}
.minute-marks li:nth-child(18) {
  transform: rotate(102deg);
}
.minute-marks li:nth-child(19) {
  transform: rotate(108deg);
}
.minute-marks li:nth-child(20) {
  transform: rotate(114deg);
}
.minute-marks li:nth-child(21) {
  transform: rotate(120deg);
}
.minute-marks li:nth-child(22) {
  transform: rotate(126deg);
}
.minute-marks li:nth-child(23) {
  transform: rotate(132deg);
}
.minute-marks li:nth-child(24) {
  transform: rotate(138deg);
}
.minute-marks li:nth-child(25) {
  transform: rotate(144deg);
}
.minute-marks li:nth-child(26) {
  transform: rotate(150deg);
}
.minute-marks li:nth-child(27) {
  transform: rotate(156deg);
}
.minute-marks li:nth-child(28) {
  transform: rotate(162deg);
}
.minute-marks li:nth-child(29) {
  transform: rotate(168deg);
}
.minute-marks li:nth-child(30) {
  transform: rotate(174deg);
}
.hour {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(-45deg);
}
.hour .hand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.hour .hand:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  top: -120px;
  width: 16px;
  height: 120px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #fff;
}
.hour .hand:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: -254px;
  display: inline-block;
  border-bottom: 16px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  width: 0;
  height: 0px;
}
.minute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(45deg);
}
.minute .hand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.minute .hand:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  top: -168px;
  width: 12px;
  height: 168px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #fff;
}
.minute .hand:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: -346px;
  display: inline-block;
  border-bottom: 12px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  width: 0;
  height: 0px;
}
.second {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(60deg);
}
.second .hand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.second .hand:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: -120px;
  width: 8px;
  height: 240px;
  background-color: #f16b41;
  border-radius: 8px;
  transform-origin: center 180px;
}
.second .hand:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #f16b41;
}
/*# sourceMappingURL=clock.css.map */
