@import "common";

body{
  overflow: hidden;
  // background-color: red;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
  //  background-color: pink;
}

.banner{
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}

.title{
  text-align: center;
  background-image: url(../img/bg1.png);
  background-repeat: repeat-x;
  background-position: center;
  .t_name{
    display: inline-block;
    background-color: $black;
    font-size: 32px;/*px*/
    padding: 10px 50px;
    color: $white;
    outline: none;
    border-left: 20px white solid;
    border-right: 20px white solid;
  }
}

.login{
  margin-top: 50px;
  margin-bottom: 50px;
  li{
    padding: 20px 0;
    font-size: 32px;/*px*/
    position: relative;
    overflow: hidden;
  }
  label{
    float: left;
    display: inline-block;
    width: 24%;
    text-align: right;
    padding: 16px 0;
  }
  .inp{
    width:74%;
    display: inline-block;
    float: right;
    border-bottom: 1px solid $gray;/* no */
    padding: 16px 0;
  }
  .lst{
    border:0;
  }
  .bt-vali{
    font-size: 28px;/*px*/
    position: absolute;
    display: block;
    right: 0;
    top:16px;
    padding: 20px;
    border:1px solid $blue; /* no */
    border-radius: 6px;/* no */
    color:$blue;
  }
  .bt-vali_i{
    position: absolute;
    display: block;
    right: 0;
    width:170px;
    height: 70px;
  }
  .err{
    text-align: center;
  }
  .error{
    color:$red;
    font-size: 32px;/*px*/
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
}
.bt_login{
  width: 100%;
  height:90px;
  line-height: 90px;
  text-align: center;
  display: block;
  border-radius: 10px;
  font-size: 48px;/*px*/
  background-color: $blue;
  color: $white;
}
.reg{
  float: right;
  color: $blue;
}
.findPwd{
  float: left;
  color: $t_gray;
}
.bt_a{
  display: inline-block;
  font-size: 30px;/*px*/
  margin: 30px 0;
}



.suc{
  text-align: center;
  font-size: 32px;/*px*/
  color:$black;
  line-height: 2;
  .c_tips{
    margin: 40px;
  }
  .c_bts{
    width: 100%;
    border-top: 1px solid $gray;/*no*/
    overflow: hidden;
    bottom: 0;
  }
  .ok{
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    color: $blue;
  }
}
.forget{
  // height: 800px;
  // margin-top: -400px;
  text-align: center;
  font-size: 32px;/*px*/
  color:$black;
  .c_title{
    display: inline-block;
    padding: 18px 50px;
    background-color: $blue;
    position: relative;
    border-bottom-left-radius: 8px;/*no*/
    border-bottom-right-radius: 8px;/*no*/
    color: $white;
    font-size: 32px;/*px*/
    top: -8px;/*no*/
    &:before,&:after{
      position: absolute;
      content: "";
      display:inline-block;
      width: 16px;/*no*/
      height: 8px;/*no*/
      top: 0;
    }
    &:before{
      left: -16px;/*no*/
      background-image: url("../img/bg_6.png");
    }
    &:after{
      right: -16px;/*no*/
      background-image: url("../img/bg_7.png");
    }
  }
  .login .inp{
    width: 70%;
    margin-right: 4%;
  }
  .bt-vali{
    right: 4%;
    padding: 14px;
  }
  .pass{
    position: absolute;
    display: block;
    top:36px;
    width: 36px;
    height: 36px;
    background-image: url("../img/bg_8.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: 6%;
  }
  .c_bts{
    width: 100%;
    border-top: 1px solid $gray;/*no*/
    overflow: hidden;
    // position: absolute;
    bottom: 0;
  }
  .ok,.cancle{
    display: inline-block;
    width: 50%;
    float: left;
    padding: 30px 0;
    color: $blue;
  }
  .cancle{
    border-left: 1px solid $gray;/*no*/
    box-sizing: border-box;
  }
}
