$blue: #3095D3;
$black:#333333;
$black1:#000000;
$gray:#E5E5E5;
$gray1:#333333;
$red:#EF0606;
$white:#FFFFFF;
$b_b1:#d6d7d8;
$t_gray:#666666;
$t_gray1:#999999;
$bg1:#F2F4F5;
$bg2:#F9F1E2;
