/**
 * 默认一个50px宽高且居中颜色为粉色的一个伪元素
 */
@mixin pseudo_block($width:50px,$height:50px,$bgc:pink) {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $bgc;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/**
 * 添加clear：both
 */
@mixin clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/**
 * 隐藏
 */
@mixin hide {
    display: none!important;
}
/**
 * 按钮
 */
@mixin bt {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
/**
 * 设置透明度
 * @param  {Number} $opacity: 0.5      默认透明度0.5
 */
@mixin opacity($opacity: 0.5) {
    $opacityIE: $opacity * 100;
    opacity: $opacity;
    filter: ~"alpha(opacity=${opacityIE})";
}
/**
 * 超出长度用省略号补齐
 */
@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/**
 * 绝对定位居中
 */
@mixin center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
